.shape {
    background-color: rgb(180, 216, 228);
}

h1 {
    color: lightblue;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7);
}
body { 
    background-color: rgb(0, 0, 0);
    color: rgb(0, 27, 0);
    font-size: 20px;
    text-align: center;
}

.rounded-rectangle2 {
    width: 70%;
    height: auto;
    font-size: large;
    background-color: rgb(203, 232, 242);
    border-radius: 20px;
    padding: 0.5px;
    text-align: center;
    margin: 0 auto;
}

.text-right {
    float: right;
}

.rounded-rectangle {
    width: 70%;
    height: auto;
    font-size: x-large;
    background-color: rgb(203, 232, 242);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    margin: 1% auto;
}

.shape {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: #f00;
    z-index: -1;
}

#shape1, #shape2, #shape3, #shape4 {
    position: fixed;
    width: 100px;
    height: 100px;
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
}

#shape1 {
    top: 40%;
    left: 170px;
    background-color: aqua;
}

#shape2 {
    top: 60%;
    left: 170px;
    background-color: aqua;
}

#shape3 {
    top: 40%;
    right: 170px;
    background-color: aqua;
}

#shape4 {
    top: 60%;
    right: 170px;
    background-color: aqua;
}

#loadingScreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 2s ease-in-out;
}

#loadingScreen img {
    width: 100%;
    height: 100%;
    animation: contrast 2s linear infinite;
}

@keyframes contrast {
    0% { filter: contrast(100%); }
    50% { filter: contrast(200%); }
    100% { filter: contrast(100%); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body, html {
    overflow: auto;
}