.shape {
    background-color: rgb(180, 216, 228);
}

/* headers */
h1 {
    color: lightblue;
    text-align: center;
}
h2, h4 {
    margin:0;
}


body { 
    background-color: rgb(0, 0, 0);
    color: rgb(0, 27, 0);
    font-size: 20px;
    text-align: center;
}

.rounded-rectangle2 {
    width: 70%;
    height: auto;
    font-size: large;
    background-color: rgb(203, 232, 242);
    border-radius: 20px;
    padding: 0.5px;
    text-align: center;
    margin: 0 auto;
}

.text-right {
    float: right;
}

.rounded-rectangle {
    width: 70%;
    height: auto;
    font-size: x-large;
    background-color: rgb(203, 232, 242);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    margin: 1% auto;
}

.tabcontent {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: none;
}
  
.tablink {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid grey;
    margin-bottom: 1%;
    width: 20%;
    font-size: 15px;
    padding: 1% 2%;
    box-shadow: 3px 3px 5px rgb(203, 232, 242);
}