.shape {
    background-color: rgb(180, 216, 228);
}

/* headers */
h1 {
    color: lightblue;
    font-size: xx-large;
    text-align: center;
}
h2, h4 {
    margin:0;
}
h2, h3 {
    margin: 2px;
}


body { 
    background-color: rgb(0, 0, 0);
    color: rgb(0, 27, 0);
    font-size: 20px;
    text-align: center;
}



.rounded-rectangle2 {
    width: 100%;
    height: auto;
    font-size: large;
    background-color: rgb(203, 232, 242);
    padding: 0.5px 0;
    text-align: center;
    margin: 7px auto;
}


.text-right {
    float: right;
}

.rounded-rectangle {
    width: 100%;
    height: auto;
    font-size: x-large;
    background-color: rgb(203, 232, 242);
    padding: 10px 0;
    text-align: left;
    margin: 7px auto; 
}

.white-rounded-rectangle {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    margin: 7px auto;
    object-fit: contain;
}

.white-rounded-rectangle img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 5px 0;
}

.circular-image {
    border-radius: 50%;
    top: 0;
    vertical-align: top;
    float: right;
    width: 10%;
    height: 10%;
    margin: 0 1% 20px 5%;
}


.tabcontent {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: none;
}

  
.tablink {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    margin-bottom: 0%;
    width: 100%;
    font-size: 20px;
    padding: 0.2% 0%;
}

.tablink-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    padding: 0.1% 0;
    background-color: black;
    width: 100%;
}

